.vscode/c_cpp_properties.json
datastruct/database.h.gch
.vscode/settings.json
datastruct/table.h.gch
datastruct/a.exe
DataView.o
database.o
main_tmp.o
myprog.exe
schema.o
table.o
datastruct/test.exe
datastruct/test.exe
datastruct/testclear.exe
a.out
server.o
.gitignore
test.o
src/client
src/runServer
